@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Management interface for configuring OpenWRT compatible devices running WRTM agent.</p>
<img src="~/Content/Images/aboutpic.png" width="400" height="400" alt="">
