@model WrtmWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account information</h4>
</div>
